
@media (max-width:1200px) {
    .container {
        padding: 0 20px;
    }

    .stages__container {
        position: relative;
        overflow: hidden;
    }

    .stages__item {
        padding: 6px;
    }

    .stages__plane {
        left: 72%;
        bottom: 106px;
    }

    .stages__list {
        -ms-grid-rows: 130px 130px 136px;
        grid-template-rows: 130px 130px 136px;
    }

    .price__img-position {
        width: 100%;
    }

    .participants__navigation {
        right: 10px;
    }
}

@media (max-width:1024px) {
    .title {
        font-size: 43px;
    }

    .price__title {
        font-size: 28px;
    }

    .lection__title {
        font-size: 28px;
    }

    .header__buttons__black,
    .header__buttons__clear {
        width: 225px;
        padding: 13px 20px;
    }

    .header__title {
        font-size: 52px;
    }

    .stages__list {
        -ms-grid-rows: 130px 130px 160px;
        grid-template-rows: 130px 130px 160px;
    }
}

@media (max-width:938px) {
    .header__buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .header__main {
        margin-bottom: 83px;
    }

    .header__buttons__black,
    .header__buttons__clear {
        font-size: 16px;
        width: 335px;
        padding: 13px 20px;
    }

    .lection__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .lection__img-contaienr {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .lection__title__offset-element {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .lection__title {
        display: contents;
    }

    .price__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .price__img-position {
        position: relative;
    }

    .participants__wrapper .participants__carousel {
        grid-auto-columns: calc((100% / 2) - 13px);
    }

    .stages__descr {
        font-size: 18px;
        line-height: 21.6px;
    }

    .stages__plane {
        top: 33%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .stages__title-descr {
        margin: 0 0 148px 0;
    }

    .stages-arrows button {
        width: 36px;
        height: 36px;
        background-color: #313131;
        border-radius: 40px;
        border: none;
        padding: 10px;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .stages-arrows-left:disabled,
    .stages-arrows-right:disabled {
        cursor: default;
        background-color: rgb(214, 214, 214);
    }

    .stages__list {
        height: 300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        gap: 0;
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        overflow: hidden;
        width: 100%;
        margin-bottom: 28px;
    }

    .stages__item {
        width: 243px;
        padding: 62px 20px 0 20px;
        -webkit-box-flex: 1;
            -ms-flex: 1 0;
                flex: 1 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .stages__item:nth-child(2) {
        padding-top: 0px;
    }

    .stages__item:nth-child(4) {
        -webkit-box-flex: 0;
            -ms-flex: 0 1;
                flex: 0 1;
        padding-bottom: 28px;
    }

    .stages__item:nth-child(5) {
        padding-top: 0px;
    }

    .stages__navigation {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 250px;
        margin: 0 auto;
    }

    .stages-arrows,
    .stages-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .stages-arrows {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }

    .stages-dots {
        gap: 4px;
        position: absolute;
        min-width: 74px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .dot {
        margin: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        background: #D9D9D9;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }


    .dot.active {
        background: #313131;
    }

    .stages__wrapper {
        margin: 0 auto;
        width: 335px;
        overflow: hidden;
    }

    .tournament-info__list {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        max-width: 336px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .tournament-list-title:not(:nth-child(7)) {
        padding-bottom: 12px;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        border-bottom: none;
        border-right: none;
    }

    .tournament-list-title:nth-child(7) {
        padding-right: 13px;
        padding-bottom: 14px;
        border-right: none;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 10%;
                flex: 0 1 10%;
    }

    .tournament-list-info:nth-child(8) {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 54%;
                flex: 0 1 54%;
        margin-right: 0px;
        border-bottom: 2px solid #D0D0D0;
    }

    .tournament-list-info {
        padding-top: 0px;
        padding-bottom: 14px;
        padding-left: 0px;
        margin-right: 20px;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
    }
    .tournament-list-info__red-line {
        margin-right: 4px;
    }


    .participants__navigation {
        top: 112%;
        left: 50%;
        right: auto;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

@media (max-width:576px) {
    .header__title {
        font-size: 36px;
        line-height: 39.6px;
    }

    .header__container {
        position: relative;
        overflow: hidden;
        background-image: url(../img/chessMob.png);
        background-size: auto;
        background-position: right -110px bottom 17px
    }

    .header__iconText {
        font-size: 14.42px;
        line-height: 15.57px;
        text-align: left;
        margin-top: -2px;
    }

    .header__icon {
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .header__title__secons-span {
        margin-left: 64px;
    }

    .header__title__third-span {
        margin-left: 30px;
    }

    .header__descr {
        text-align: left;
        margin-bottom: 32px;
    }

    .header__buttons {
        gap: 14px;
    }

    .marquee-container {
        height: 38px;
    }

    .marquee-content {
        font-size: 16px;
        font-weight: 400;
        line-height: 17.6px;
    }

    .header__main {
        margin-bottom: 291px;
    }

    .header__buttons__black,
    .header__buttons__clear {
        width: 100%;
        padding: 11px 20px;
    }

    .header__buttons__clear {
        background-color: #FFFFFF;
        opacity: 0.9;
        border: 2px solid #FFFFFF;
    }

    .header {
        margin-bottom: 49px;
    }

    .lection__title {
        line-height: 37.9px;
    }

    .lection__container {
        gap: 23px;
    }

    .price__img-position {
        left: -19px;
        top: -46px;
        width: auto;
    }

    .price__container {
        gap: 0;
        margin-bottom: 122px;
    }

    .price__img {
        margin-bottom: -24px;
    }

    .price__title {
        font-size: 28px;
        font-weight: 400;
        line-height: 37.8px;
    }

    .price__title {
        margin-bottom: 44px;
    }

    .price__descr {
        font-size: 18px;
        line-height: 21.6px;
    }

    .title {
        font-size: 36px;
        line-height: 39.6px;
    }

    .stages__title-descr {
        margin: 12px 0 94px 0;
        font-size: 18px;
        line-height: 21.6px;
        max-width: 290px;
    }

    .stages__plane {
        top: 41.5%;
    }

    .stages__navigation {
        width: 178px;
    }

    .stages__container {
        margin-bottom: 120px;
    }

    .participants__wrapper .participants__carousel {
        grid-auto-columns: calc(100% - 13px);
    }

    .participants__wrapper {
        margin-left: 6px;
    }

    .participants__title {
        margin-bottom: 40px;
    }

    .participants__img {
        margin-bottom: 26px;
    }

    .participants__name {
        margin-bottom: 8px;
    }

    .participants__more {
        line-height: 17px;
    }

    .participants__rank {
        margin-bottom: 19px;
    }

    .participants__btn svg {
        width: 36px;
        height: 36px;
    }
    
    .participants__btn:last-child {
        margin-left: 4px;
    }
    .participants {
        margin-bottom: 176px;
    }
}