* {
    box-sizing: border-box;
}

body {
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #313131;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.span,
p, h2 {
    margin: 0;
}

.container {
    max-width: 1222px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.title {
    font-family: "Merriweather", serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 64.8px;
    text-align: left;
    text-transform: uppercase;
}

/* header */

.header {
    background-color: #E9DED4;
    margin-bottom: 80px;
}

.header__container {
    position: relative;
    overflow: hidden;
    background-image: url('../img/chess.png');
    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;
}

.header__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
    z-index: 1;
}

.header__icon {
    display: flex;
    gap: 6px;
    padding-top: 26px;
    margin-bottom: 62px;
}

.header__iconText {
    color: #595653;
    font-size: 16.65px;
    font-weight: 700;
    line-height: 17.98px;
    text-transform: uppercase;
}

.header__main {
    max-width: 542px;
    margin-bottom: 129px;
}

.header__title {
    font-family: "Merriweather", serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    text-transform: uppercase;
    color: #313131;
    margin: 0;
    margin-bottom: 24px;
}

.header__title__secons-span {
    margin-left: 91px;
}

.header__title__third-span {
    margin-left: 34px;
}

.header__descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
    color: black;
    margin-bottom: 40px;
}

.header__buttons {
    display: flex;
    gap: 16px;
    text-align: center;
}

.header__buttons__black {
    width: 263px;
    padding: 13px 49px;
    border-radius: 66px;
    border: 2px solid #1F1F1F;
    background-color: #1F1F1F;
    color: #FFFFFF;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.header__buttons__black:hover {
    border: 2px solid #FBCE51;
    background-color: #FBCE51;
    color: #1F1F1F;
}

.header__buttons__clear {
    width: 263px;
    padding: 13px 49px;
    border-radius: 66px;
    border: 2px solid #1F1F1F;
    background-color: transparent;
    color: #1F1F1F;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.header__buttons__clear:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.marquee-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F54932;
    height: 60px;
    z-index: 1;
}

.marquee-content {
    font-family: "Merriweather", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    animation: marquee linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* lection */

.lection__container {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-bottom: 61px;
}

.lection__title {
    max-width: 764px;
    font-family: "Merriweather", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48.6px;
    text-align: left;
    text-transform: uppercase;
}

.lection__title__offset-element b {
    color: #F54932;
    font-weight: 700;
}

/* price */

.price__container {
    display: flex;
    gap: 35px;
    margin-bottom: 200px;
}

.price__img {
    width: 100%;
    position: relative;
}

.price__img-position {
    left: -36px;
    top: -32px;
    position: absolute;
}

.price__title {
    font-family: "Merriweather", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48.6px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 46px;
}


/* //////// */


.tournament-info__list {
    display: grid;
    grid-template-columns: 0.76fr 1fr;
    grid-gap: 0px;
    grid-auto-rows: min-content;
    margin-bottom: 48px;
    width: 704px;
}

.tournament-list-title,.tournament-list-info {
    padding: 16px 0px 14px 0px;
    border-bottom: 2px solid #D0D0D0;
    white-space: nowrap;
}

.tournament-list-info {
    padding-left: 16px;
    font-weight: 600;
}

.tournament-list-title {
    padding-right: 16px;
    opacity: 70%;
    border-right: 2px solid #D0D0D0;
}

.tournament-list-title:first-child,.tournament-list-info:nth-child(2) {
    padding-top: 0px;
}

.tournament-list-title:nth-child(9),.tournament-list-info:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.tournament-list-info__red-line {
    text-decoration:line-through red;
}
.common-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
/* //////// */


.price__main {
    z-index: 10;
}


.price__descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #3057A2;
}

/* stages */


.stages__container {
    margin-bottom: 200px;
    position: relative;
}

.stages__title {
    max-width: 806px;
    margin-bottom: 55px;
}

.stages__title-descr {
    margin-left: 7px;
    display: inline-block;
    max-width: 280px;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #3057A2;
    text-transform: none;
}

.stages__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 112px 112px 136px;
    gap: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease;
}

.stages__item {
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    font-size: 24px;
    background-image: url('../img/paper.png');
    background-size: cover;
}

.stages__number {
    padding: 5px 12px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.stages__descr {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.stages__item-third {
    grid-row: span 2;
}

.stages__item-seventh {
    grid-column: span 2;
}

.stages__descr-seventh {
    max-width: 446px;
}

.stages__plane {
    position: absolute;
    right: -63px;
    bottom: -2px;
}

.stages-arrows {
    display: none;
}

.stages-dots {
    display: none;
}


/* participants */

.participants {
    margin-bottom: 140px;
}

.participants__title {
    margin-bottom: 60px;
}

.participants__navigation {
    position: absolute;
    top: 8px;
    right: -6px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.participants__navigation span {
    margin-top: -6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.participants__navigation__span-start {
    margin-right: 2px;
}

.participants__btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.participants__btn:first-child {
    margin-right: 8px;
}

.participants__btn:last-child {
    margin-left: 11px;
}

.participants__wrapper {
    width: 100%;
}

.participants__wrapper .participants__carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 13px);
    gap: 20px;
    padding: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.participants__carousel::-webkit-scrollbar {
    display: none;
}

.participants__carousel :where(.participants__card) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.participants__carousel.no-transition {
    scroll-behavior: auto;
}

.participants__carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.participants__carousel.dragging .participants__card {
    cursor: grab;
    user-select: none;
}

.participants__carousel .participants__card {
    scroll-snap-align: start;
    max-width: 394px;
    box-sizing: border-box;
    /* padding: 10px; */
    text-align: center;
    cursor: pointer;
    /* flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center; */
}

.participants__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 28px;
}

.participants__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    margin-bottom: 5px;
}

.participants__rank {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.participants__more {
    padding: 8px 11px;
    border: 1px solid #3057A2;
    border-radius: 62px;
    background-color: #FFFFFF;
    color: #3057A2;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    transition: all .3s ease-in-out;
}

.participants__more:hover {
    background-color: #3057A2;
    color: #FFFFFF
}

/* footer */

.footer__container {
    background-color: #E9DED4;
    padding-top: 40px;
    padding-bottom: 72px;
}

.footer__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;

}